:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}


/* Success Snackbar */

.success-snackbar .mat-mdc-snackbar-surface {
  background-color: #89e68b !important;
}

.error-snackbar .mat-mdc-snackbar-surface {
  background-color: #e46d6d !important;
}
